

.Sidebar {
  background-color: rgb(241, 242, 247);
  align-self: start;
  z-index: 10;
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  font: 400 12px/1 Poppins, sans-serif;
  height: 100dvh;
  overflow-y: auto;
  

  .brand {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 20px;
    font-size: 11px;
    font-weight: 700;
  }
  
  .brandIcon {
    background-color: rgb(90, 103, 186);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  
  .brandName {
    color: rgb(90, 103, 186);
    letter-spacing: 0.5px;
    margin-top: 25px;
  }
  
  .menuHeader {
    color: rgb(8, 36, 49);
    font-size: 11px;
    letter-spacing: 1px;
    margin: 40px 0 12px 20px;
  }
  
  .menuSection {
    width: 100%;
  }
  
  .menuItem,
  .activeMenuItem {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px 20px;
    margin: 12px 0;
    color: rgb(39, 50, 64);
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 80%;
    text-decoration: none;
  }

  /* Hover effect */
  .menuItem:hover {
    background-color: #e0e7ff;
    color: #5a67d8;
    width: 80%;
  }
  
  .activeMenuItem {
    background-color: #5a67d8;
    color: #ffffff;
    font-weight: 500;
    width: 80%;
    text-decoration: none;
  }

  .activeMenuItem .menuIcon {
    filter: brightness(0) invert(1);
  }
  
  .menuIcon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    transition: filter 0.3s;
  }
  
  .menuLabel {
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .sidebar {
      margin-top: -200px;
      padding-bottom: 100px;
    }
  
    .brand {
      margin-left: 10px;
    }
  
    .menuHeader {
      margin-left: 10px;
    }
  }
}
