
/* The Modal (background) */
.Modal {
    display: block; /* Hidden by default */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

  /* Modal Content */
  .modalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 95%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Ensures the modal takes up the full height of the viewport */
    max-height: 90vh; /* Optional: set a max height so it doesn't cover too much of the screen */
    overflow-y: auto; /* Adds scrolling if content exceeds the available space */
  }
  
  .modalHeader {
      padding: 1% 2%;
  }
  
  .mainTitle {
      margin-top: 0;
      line-height: 40px;
      border-bottom: 1px solid #eeeeee;
      color: #5a67ba;
  }
  
  .modalBody {
      padding-left: 2%;
  }

}
  